name: Java CI with Gradle

# main 브랜치에 push나 pull request가 일어나면 실행
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 워크플로우 실행 전 기본적으로 체크아웃 필요
    - uses: actions/checkout@v3
    
    # JDK 11 버전 설치
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    # gradle caching
    - name: Gradle Caching
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    # create application-dev.properties
    - name: make application-dev.properties
      if: contains(github.ref, 'main') # branch가 main일 때
      run: |
          # resources 경로로 이동
          cd ./src/main/resources
          
          # application-dev.properties 파일 생성
          touch ./application-dev.properties
          
          # Github Actions에서 설정한 값을 application-dev.properties 파일에 쓰기
          echo "${{ secrets.PROPERTIES_DEV }}" > ./application-dev.properties
      shell: bash
      
    # create aws.yml
    - name: make aws.yml
      if: contains(github.ref, 'main') # branch가 main일 때
      run: |
          # resources 경로로 이동
          cd ./src/main/resources
          
          # aws.yml 파일 생성
          touch ./aws.yml
          
          # Github Actions에서 설정한 값을 aws.yml 파일에 쓰기
          echo "${{ secrets.AWS_YML }}" > ./aws.yml
      shell: bash
      
        
    # Gradle 사용. arguments를 붙이면 뒤에 그대로 실행됨
    # 이 워크플로우는 gradle clean build를 수행
    - name: Build with Gradle
      uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
      with:
        arguments: clean build
